


body {
    background-color: #fafafa;
}


h1 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    font-size: 64px;
    text-align: center;
}

h2 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    font-size: 40px;
    
    padding-bottom: 30px;
}

footer {
    display: block;
    background-color: #4d96a9;
    height: 290px;
    
    
    
}

.logo {
    margin-top: 80px;
    margin-bottom: 115px;
    text-align: center;
}

.main-banner{
    padding-bottom: 120px;
}

.paragraph {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #87879D;
}

.top-buttons {
    text-align: center;
    
}

.button {
    color: #ffffff;
    border: none;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 16px 40px;
    border-radius: 30px;

}

.dl-btn {
    background-color: #4d96a9;
    margin-right: 20px;
    
}

.dl-btn:hover {
    background-color: #8fe3f9;
}

.info-btn {
    background-color: #855fb1;
    
}

.info-btn:hover {
    background-color: #d9b8ff;
}

.vertical-line {
    border-left: 1px solid lightgrey;
    height: 100px;
    margin-left: 50%;
}

.circle-nm {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fafafa;
    border: 1px solid lightgrey;
    text-align: center;
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
    font-weight: 550;
    padding: 12px;
    color: #87879D;
    margin-left: 650px;
    margin-bottom: -25px;
    position: sticky;

}

.image-row {
    margin-top: 65px;
    padding: 0 165px 0 165px;
}

.img-row {
    padding: 5px;
    width: 255px;
    height: auto;
    border-radius: 5%;
}

.features {
    padding-top: 60px;
    padding-bottom: 72px;
}

.features-h2 {
    text-align: center;
}

.overline {
    font-family: "Red Hat Display", sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4D96A9;

}

.foot-row {
    margin: 0;
}

.image-footer {
    opacity: 0.1;
    position: absolute;
    padding: 0;
}

.tagline {
    text-align: left;
    color: #fafafa;
    padding-top: 100px;
    padding-left: 100px;
}

.footer-par {
    font-family: "Red Hat Display", sans-serif;
    color: #fafafa;
    text-align: left;
    font-size: 16px;
    padding-top: 100px;
    padding-left: 100px;
}

.footer-btn {
    background-color: #855fb1;
    margin-top: 100px;
    margin-left: 100px;
    position: relative;
}

.footer-btn:hover {
    background-color: #d9b8ff;
}







