


body {
    background-color: #fafafa;
}


h1 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    font-size: 64px;
    text-align: center;
}

.logo {
    margin-top: 80px;
    margin-bottom: 115px;
    text-align: center;
}

.main-banner{
    padding-bottom: 120px;
}

.top-paragraph {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #87879D;
}

.top-buttons {
    text-align: center;
    
}

.button {
    color: #ffffff;
    border: none;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 16px 40px;
    border-radius: 30px;

}

.dl-btn {
    background-color: #4d96a9;
    margin-right: 20px;
    
}

.dl-btn:hover {
    background-color: #8fe3f9;
}

.info-btn {
    background-color: #855fb1;
    
}

.info-btn:hover {
    background-color: #d9b8ff;
}

.vl {
    border-left: 1px solid lightgrey;
    height: 100px;
    margin-left: 50%;
}

.circle-nm {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fafafa;
    border: 1px solid lightgrey;
    text-align: center;
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
    font-weight: 550;
    padding: 12px;
    color: #87879D;
    margin-left: 650px;

}

.image-row {
    margin-top: 65px;
    padding: 0 165px 0 165px;
}

.img-row {
    padding: 5px;
    width: 255px;
    height: auto;
    border-radius: 5%;
}





